[Unit]
Description=Consul Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/sbin/consul agent -config-dir /etc/consul.d/ -bind={{ ansible_default_ipv4.address }}
Restart=on-abort


[Install]
WantedBy=multi-user.target
